!!! 5

%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Little One
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body{ :class => body_classes }
    = yield
    = javascript_include_tag "application"

